@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --Purple: #7663E8;
  --Black: #000;
  --White: #FFF;
  --HalfBlack: #111;
  --Black05: #1A1A1A;
  --Purple: #1F26B7;
}
body {
  background-color: var(--White);
  font-family: Inter;
  transition: background-color 0.4s ease, color 0.4s ease;
}
/******************************************************************************************************/
.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.logo-svg {
  color: var(--Black05);
}
/*HEADER DESKTOP*/
.header-container {
  width: 100%;
}
.inner-Header {
  width: 74%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46.5px;
  margin-bottom: 47.5px;
  padding: 6.5px 12px;
  transition: width 0.3s;
}
.links-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
.links-header button {
  background-color: transparent;
  border: none;
}
.links-header a {
  text-decoration: none;
  color: var(--Black);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.theme-toggle img{
  transition: filter 0.3s ease;
}
.hamburger-menu {
  display: none;
}
.lang-button {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: color 0.3s ease, background-color 0.3s ease;
}
/**/

.nav-link {
  position: relative;
  color: var(--Black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000000; /* istediğin hover çizgi rengi */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}



/*HERO SECTION*/
.hero-container {
  width: 100%;
}
.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 194px;
  width: 74%;
  margin: 0 auto;
  padding-inline: 12px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.info-1 h5{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: var(--Black05) ;
}
.info-2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.info-2 h3 {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(90deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-2 p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */
  color: var(--Black05);
}
.hero-links {
  display: flex;
  align-items: stretch;
  gap: 10px;
  justify-content: start;
}
.hero-links a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;    
  min-height: 72px;   
  text-align: center;
  box-sizing: border-box;
  padding: 16px 26px;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: var(--Black05);
  justify-content: first baseline;
  margin-bottom: 92px;
}
.hero-links a img {
  display: block;
  height: 22px;
  width: auto;
  margin: 0;
  align-self: center;
}
/*Animasyonlu Butonlar*/
@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.mailSend {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  /* Hem içi beyaz hem border gradient */
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(51deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%) border-box;
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: borderMove 4s linear infinite;
    transition: box-shadow 0.4s, border-color 0.3s;
    box-shadow: 0 0 0px 0px transparent;
}

.mailSend:hover {
  background-position: 100% 50%;  /* Hover'da sağa kayacak */
  box-shadow: 0 0 16px 2px #6e44ff;
  border-color: #8ffff9;
}
.linkedIn {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  /* Hem içi beyaz hem border gradient */
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg,#2867b2 2.88%,#378fe9 11%,#43c6f9 19%,#6eb9f7 27%,#b7c9f7 35%,#fca6e9 45%,#e8c3fd 54%,#96c8fb 63%,#49a0e3 73%,#2867b2 91%,#fca6e9 100%) border-box;
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: borderMove 4s linear infinite;
    transition: box-shadow 0.4s, border-color 0.3s;
    box-shadow: 0 0 0px 0px transparent; 
}
.linkedIn:hover {
  background-position: 100% 50%;  /* Hover'da sağa kayacak */
  box-shadow: 0 0 16px 2px #6e44ff;
  border-color: #f5b4e7;
}
.up-work {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  background:
   linear-gradient(white, white) padding-box, 
   linear-gradient(45deg, #1CED81 6%, #10D7E2 19%, #FFDD67 37%, #F4426C 54%, #FD6F21 70%, #35E995 84%, #1CED81 100%) border-box;
  background-size: 200% 200%;
  background-position: 0% 50%;
  animation: borderMove 4s linear infinite;
  transition: box-shadow 0.4s, border-color 0.3s;
  box-shadow: 0 0 0px 0px transparent;
}
.up-work:hover {
  background-position: 100% 50%;
  box-shadow: 0 0 16px 2px #6e44ff;
  border-color: #F4426C;
}
.gitHub {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(132deg, #6e44ff 0%, #b892ff 14%, #b892ff 30%, #ffc2e2 44%, #171321 58%, #49108b 73%, #b892ff 88%, #212121 100%) border-box;
  background-size: 200% 200%;
  background-position: 0% 50%;
  animation: borderMove 4s linear infinite;
  transition: box-shadow 0.4s, border-color 0.3s;
  box-shadow: 0 0 0px 0px transparent;
}
.gitHub:hover {
  background-position: 100% 50%;
  box-shadow: 0 0 16px 2px #6e44ff;
  border-color: #6e44ff;
}
/*EXPERIENCE SECTION*/
.experience-container {
  background: var(--White);
  padding: 60px 0; /* yukarıdan aşağıdan boşluk */
  display: flex;
  flex-direction: column;
  gap: 88px;
}
.wrapper-title {
  width: 74%;
  max-width: 1100px;
  margin: 0 auto;
}
.wrapper-title h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.experience-wrapper {
  width: 74%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 88px;
}
.company-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 210px;
}
.company-btn {
  background: #fff;
  color: #222;
  border: none;
  padding: 14px 20px;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.company-btn.active {
  background: #222;
  color: #fff;
  font-weight: bold;
}
.experience-detail {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 76%;
  max-width: 799px;
}
.detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 50px;
}
.detail-top h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  color: var(--Black05);
}
.detail-top span {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.detail-bot {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.detail-bot h6 {
  color: var(--Purple);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */ 
}
.detail-bot ul {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: var(--Black05);
}
.company-title {
  margin: 8px 0 14px;
  font-weight: 600;
  color: #555;
}
.date {
  font-size: 0.95em;
  color: #999;
}
.experience-detail ul {
  margin: 0;
  padding-left: 18px;
}
.experience-detail li {
  margin-bottom: 8px;
}
