@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --Purple: #7663E8;
  --Black: #000;
  --White: #FFF;
}
body {
  width: 1440px;
  margin: 0 auto;
  background-color: var(--White);
  font-family: Inter;
  transition: background-color 0.4s ease, color 0.4s ease;
}
body.dark {
  background-color: var(--Black);
  color: var(--White);
}
body.dark .links-header a {
  color: var(--White);
}
/*HEADER DESKTOP*/
.header-container {
  width: 100%;
}
.inner-Header {
  width: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46.5px;
  margin-bottom: 47.5px;
  padding: 6.5px 12px;
}
.links-header {
  width: 24.22%;
  display: flex;
  gap: 30px;
  align-items: center;

}
.links-header button {
  background-color: transparent;
  border: none;
}
.links-header a {
  text-decoration: none;
  color: var(--Black);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.theme-toggle img{
  transition: filter 0.3s ease;
}
.hamburger-menu {
  display: none;
}

/**/

.nav-link {
  position: relative;
  color: var(--Black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000000; /* istediğin hover çizgi rengi */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}